/* здесь используйте глобальные переменные */
$primary-font:  "Lato", "Arial", sans-serif;
$title-font: "Oswald", "Arial", sans-serif;

$text-color: #444444;
$text-light: #ffffff;
$title-color: #000000;

$title-color-alt:#222222;
$border-primary:#cdcdcd;
$alt-bg: #f2f2f2;
$second-bg: #eaeaea;
$primary-bg: #68b738;
$lighter-primary-bg: rgba($primary-bg, 85%);

$tablet: 768px;
$descktop: 1388px;
