.contacts {
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    padding: 26px 20px;
  }
}

.contacts__invite {
  font-family: $title-font;
  text-transform: uppercase;
  color: #111111;
  margin: 0;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.contacts__address {
  margin: 0;
  color: #444444;

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 20px;
  }
}
