.features {
  @media (max-width: 767px) {
    min-width: 320px;
    padding: 0 20px;
    margin-bottom: 49px;
  }

  @media (min-width: $tablet) {
    padding: 0 30px 47px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop) {
    padding: 0 0 69px;
    border: none;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.features__slogan {
  @media (max-width: 767px) {
    @include heading-styles(36px, 40px);
    padding-bottom: 40px;
  }

  @media (min-width: $tablet) {
    @include heading-styles(60px, 60px);
    padding-top: 15px;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop) {
    @include heading-styles(60px, 60px);
    padding-top: 0;
    padding-bottom: 32px;
  }
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet) {
    counter-reset: item 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 37px 57px;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    gap: 82px;
  }
}

.features__item {
  @media (min-width: $tablet) {
    counter-increment: item 1;
  }
}
