.form {
  display: flex;

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 16px;
  }

  @media (min-width: $tablet) {
    justify-content: center;
  }
}

.form__input {
  border: 1px solid #e7e7e7;
  width: 100%;
  min-height: 56px;
  padding: 23px 13px 13px;

  &:hover {
    border: 1px solid $border-primary;
  }

  &:focus {
    border: 2px solid $text-color;
  }

  &:disabled {
    background-color: $alt-bg;
    color: $text-color;
    cursor: not-allowed;
  }

  &:not(:placeholder-shown):not(:focus):invalid {
    border: 2px solid #ff8282;
  }

  @media (min-width: $tablet) {
    width: 100%;
    min-width: 376px;
    min-height: 56px;
    padding: 23px 13px 13px;
  }

  @media (min-width: $desktop) {
    min-width: 496px;
  }

  &::placeholder {
    @include button-styles (20px, 56px);
    text-transform: uppercase;
    color: $text-color;
  }
}

.form__button {
  text-decoration: none;
  text-align: center;
  border: none;

  @include button-styles(20px, 26px);

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba($color: $text-light, $alpha: 0.3);
  }

  &:focus {
    color: rgba($color: $text-light, $alpha: 0.3);
  }

  &:disabled {
    background-color: $alt-bg;
    color: $text-color;
    cursor: not-allowed;
  }

  @media (max-width: 767px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @media (min-width: $tablet) {
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 256px;
  }
}
