.program-card {
  &:nth-of-type(1) {
    background-image: url("../../icons/stack.svg#cat_back-seat");
    background-size: 50px 53px;
    background-repeat: no-repeat;
  }

  &:nth-of-type(2) {
    background-image: url("../../icons/stack.svg#cat_back-run");
    background-size: 67px 50px;
    background-repeat: no-repeat;
  }

  @media (max-width: 767px) {
    background-color: $alt-bg;
    padding: 21px 20px 18px;

    &:nth-of-type(1) {
      background-position: 7.8% 7.1%;
    }

    &:nth-of-type(2) {
      background-position: 7.8% 7.1%;
    }
  }
}

.program-card__title {
  @media (max-width: 767px) {
    @include heading-styles(24px, 37px);
    text-align: center;
    text-transform: uppercase;
  }
}

.program-card__description {
  margin: 0;

  @media (max-width: 767px) {
    padding-top: 22px;
    padding-bottom: 23px;
    line-height: 18px;
  }
}

.program-card__link {
  color: $title-color;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  transition: color 0.3s ease;
  padding-right: 28px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 24px;
    height: 12px;
    background-image: url("../../icons/stack.svg#arrow");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%) scaleX(1);
    transition: transform 0.3s ease;
  }

  &:hover {
    &::after {
      transform: translateY(-50%) scaleX(1.33);
    }
  }

  @media (max-width: 767px) {
    @include button-styles(16px, 16px);
  }
}
