.programs {
  @media (max-width: 767px) {
    min-width: 320px;
    padding: 0 20px;
  }

  @media (min-width: $tablet) {
    min-width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    min-width: 1220px;
    padding: 82px 110px 71px;
  }
}

.programs__list {
  list-style: none;
  padding-left: 0;

  @media (min-width: 1330px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    justify-content: center;
    gap: 80px;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr;
    max-width: 1220px;
    margin: 0 auto;
  }
}

.programs__item {
  @media (max-width: 767px) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 30px;
  }
}
