.slider-container {
  @media (min-width: $tablet) and (max-width: 1329.5px) {
    padding-bottom: 101px;
    position: relative;
    display: flex;
    align-items: flex-start;
    background: $second-bg;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 151px; // Фиксированная высота верхнего цвета
      background: $text-light;
      z-index: 0;
    }
  }

  @media (min-width: $desktop) {
    width: 50%;
    padding: 0 0 0 216px;
    display: flex;
    justify-content: flex-start;
  }
}
